<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/firstfile/src/firstfile/example.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="firstfile.example"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="firstfile"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="firstfile"/>
</launchConfiguration>
